header {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
}

body {
    background-image: url("../images/gravel.png");
    margin: 0;
}

.title {
    color: #4aaaa5;
}

#navigator {
    float: right;
    padding-right: 180px;
    padding-top: 20px;
}

#navigator1 {
    float: right;
    padding-right: 180px;
    padding-top: 20px;
}

#navigator2 {
    float: right;
    padding-right: 180px;
    padding-top: 20px;
}

a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
}

nav ul li {
    display: inline-block;
}

.top {
    color: #777777;
}

input[type=text] {
    width: 100%;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
}

textarea {
    border: 1px solid #dddddd
}

.info {
    display: inline-block;
    width: 880px;
    margin-left: 175px;
    margin-top: 20px;
    padding: 20px;
	background-color: #ffffff;  
    border: 1px solid #dddddd;
    position: center;
    color: #777777;
}

.contact {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.info h1 {
	font-size: 30px;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-bottom: 12px;
    margin-top: 0px;
	margin-bottom: 15px;
    border-bottom: 2px solid #dddddd;
}

#name{
    margin-bottom: 10px;
    margin-top: 5px;
}

#email{
    margin-bottom: 10px;
    margin-top: 5px;
}

#message{
    margin-bottom: 10px;
    margin-top: 5px;
}

#submit{
    padding: 10px 20px 10px 20px;
}

.name {
	display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
	font-size: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 25px;
    width: auto;
    margin-left: 175px;
}


img.me{
    float: left;
	padding: 0 12px 12px 0;
	width: 200px;
	height: 200px;
}

img.portfolio-item {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 150px;
}

#RPG {
    left: 300px;
    bottom: 228px;
} 

#Trivia {
    bottom: 228px;
}

#Rutgers {
    bottom: 456px;
    left: 300px;
}

#RPS {
    bottom: 456px;
}


.portfolio-item:hover {
	transform: scale(1.1, 1.1);
}

.game-name {
    color:#ffffff;
    background-color: #4aaaa5;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
	top: -50px;
    text-align: center;
    padding: 5px;
    left:10px;
    z-index: 1;
    width: 190px;
}

#hangman-name {
    left:4px;
    top:-60px;
}

#RPG-name {
    left: 304px;
    top: -287px;
}

#trivia-name {
    top: -288px;
    left: 4px
}

#rutgers-name {
    top: -515px;
    left: 304px;
}

#RPS-name {
    top:-515px;
    left: 4px;
}

li.game {
    list-style-type: none;
}

#portfolio {
    height: 750px;
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
	width: 100%;
	padding-top: 35px;
	text-align: center;
	font-size: 10.5px;
	color: #cccccc;
    background-color: #666666;
    border-bottom: 5px solid #666666;
    border-top: 7px solid #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 200;
}